{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}

{% block content %}

<div class="container text-left lead">
  <div class="row">
  <div class="col-sm-4 center" >
    <kbd>Chamber of Commerce no.:</kbd>
  </div>
  <div class="col-sm-4 center" >
    68 49 52 50
  </div>
  </div>
  <div class="row">
  <div class="col-sm-4 center" >
    <kbd>VAT reg. no.:</kbd>
  </div>
  <div class="col-sm-4 center" >
    NL1594.67.184.B01
  </div>
  </div>
  <div class="row">
  <div class="col-sm-4 center" >
     <kbd> e-mail: </kbd>
  </div>
  <div class="col-sm-4 center" >
   <a href="#"><span class="glyphicon glyphicon-envelope" style="color:black"></span>
    info@hexastorm.com</a>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-4 center" >
    <kbd> phone: </kbd>
  </div>
  <div class="col-sm-4 center" >
    <a href="tel:+31640173041"><span class="glyphicon glyphicon-phone" style="color:black"></span> +31640173041</a>
  </div>
  </div>
</div>


{% endblock %}
